@import "@devbjimenez/system.global-styles/variables";
:host {
  font-size: inherit;
}

button{
  background-color: $sd-global-red-w;
  width: $sd-global-w-100;
  border: none;
  border-radius: $sd-global-blue-n;
}